
<form onsubmit="javascript:var file=$('#file'); if(!file.val()){
	file.remove()}" method="post" enctype="multipart/form-data" action="/article">

	<input type="hidden" name="_id" value="<%=orempty(result._id)%>"/>
	<input type="hidden" id="fileId" name="fileId" value="<%=orempty(result.fileId)%>"/>
	<label for="author">Author: </label>
	<input type="text" name="author" value="<%=orempty(result.author)%>"/>
	<br/>

	<span><a href="/article/<%=orempty(result?result._id:'')%>">Edit article</a></span> <span><a href="/article/<%=orempty(result._id)%>/remove">Remove article</a></span>
	<br>
	<label for="content">Content: </label>
	<br/>
	<textarea rows="5" cols="50" name="content"><%=orempty(result.content)%></textarea>
	<br/>
	<label for="image">Image(optional): </label>

<% if(result.fileId){%>
	<img id="image" src="/image/<%=result.fileId%>"/>
	<br>

	<input type="button" value="Remove Image" onclick="javascript:
		$('#image').hide(); $('#filecnt').show();
	  $('#fileId').attr('name', 'prevFileId');
	"/>
<% }%>

	<div <% if(typeof result.fileId != 'undefined'){%> style="display:none"<%}%> id="filecnt">
		<input type="file" name="image" id="file"/>
	</div><br/>
	<input type="submit"/>
</form>
