<div>
	<div id="author"><label for="author">Author: </label>
	<a title="Edit article" href="/article/<%=orempty(result._id)%>"><%=orempty(result.author)%></a></div>
<div>	<span id="dele"><a href="/article/<%=result._id%>/remove">Remove article</a></span>	<span id="dele"><a href="/article/<%=orempty(result._id)%>">Edit article</a></span>
</div>	<br/>
	<label for="content">Content: </label>
	<br/>
	<div id="content" class="content"><%=orempty(result.content)%></div>
	<br/>
	<label for="image">Image: </label>
	<img id="image" src="/image/<%=orempty(result.fileId)%>"/>
	<br/>
</div>